.benefit-card {
  padding: 50px 40px 0;
  border-radius: var(--border-radius-medium);
  height: 290px;

  @include tablet {
    padding-inline: 20px;
    height: 340px;
  }

  @include mobile {
    height: 265px;
  }

  &__icon {
    @include square(50px);
    @include flex-center;

    margin-bottom: 30px;
  }

  &__body {
    max-width: 363px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    opacity: 0.8;
    height: 100%;
  }
}