.benefits {
  &__list {
    display: flex;
    align-items: center;

    @include tablet {
      column-gap: 10px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  &__item {
    @include mobile {
      width: 100%;
    }

    &:not(:first-child) {
      .benefits__card {
        margin-left: -20px;

        @include tablet {
          margin-left: 0;

        }
      }
    }

    &:nth-child(1) {
      z-index: 2;

      .benefits__card {
        background-color: var(--color-accent-dark);
        color: var(--color-accent-light);
      }
    }

    &:nth-child(2) {
      z-index: 1;

      .benefits__card {
        background-color: var(--color-accent-light);
        color: var(--color-accent-dark);
      }
    }

    &:nth-child(3) {
      .benefits__card {
        background-color: var(--color-gray100);
        color: var(--color-dark);
      }
    }
  }
}