.button {
  @include reset-button;

  background-color: var(--color-accent);
  color: var(--color-light);

  @include hover {
    background-color: var(--color-accent-dark);
  }

  &:active {
      color: rgba(253, 253, 253, 0.6)
  }

  &__small {
    border-radius: var(--border-radius-small);
    height: var(--button-height-small);
    padding-inline: 8px;
  }

  &__medium {
    border-radius: var(--border-radius-small);
    height: var(--button-height-medium);
    padding-inline: 30px;
  }

  &__large {
    border-radius: var(--border-radius-medium);
    height: var(--button-height-large);
    padding-inline: 40px;
  }
}