.cta {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  row-gap: 25px;
  height: 540px;
  color: var(--color-accent-dark);
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-large);

  @include mobile {
    height: 455px;
    row-gap: 20px;
  }

  &__title {
    @include fluid-text(48, 35);

    @include mobile {
      line-height: 35px;
    }
  }
}