.footer {
  padding: calc(var(--section-margin) / 2) 75px 30px;


  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
  }

  @include mobile {
    padding: calc(var(--section-margin) / 2) 25px 50px;
  }


  &__content,
  &__links {
    display: flex;
    align-items: start;
  }

  &__content {
    justify-content: space-between;
    margin-bottom: 125px;


    @include tablet {
      display: contents;
    }
  }

  &__links {
    column-gap: 30px;
    color: var(--color-light);


    @include mobile {
      flex-direction: column;
      row-gap: 50px;
    }
  }

  &__title {
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 15px;
  }

  &__menu,
  &__contacts {
    width: 300px;


    @include desktop {
      width: 250px;
    }

    @include tablet {
      width: 300px;
    }
  }

  &__menu {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &-link {
      @include flex-center(true);

      height: 32px;

      @include hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__contacts {
    &-body {
      margin-bottom: 40px;


      @include mobile {
        margin-bottom: 20px;
      }

      p {
        font-style: normal;
        margin-bottom: 30px;


        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      font-style: normal;


      @include mobile {
        row-gap: 5px;
      }
    }

    &-hover {
      transition-duration: var(--transition-duration);
      cursor: pointer;

      @include hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: end;
    justify-content: space-between;


    @include tablet {
      flex-direction: column;
      row-gap: 20px;
      align-items: start;
    }

    &-text {
      opacity: 0.6;
    }

    &-links {
      display: flex;
      column-gap: 90px;
      margin-right: 64px;


      @include desktop {
        margin-right: 14px;
        column-gap: 40px;
      }

      @include tablet {
        column-gap: 90px;
      }

      @include mobile {
        flex-direction: column;
        row-gap: 5px;
      }
    }

    &-countries {
      display: flex;
      align-items: center;
      max-height: 25px;
      column-gap: 15px;
    }

    &-hover {
      opacity: 0.6;
      transition-duration: var(--transition-duration);
      cursor: pointer;

      @include hover {
        opacity: 1;
      }
    }
  }
}