.hero {
  @include flex-sb;

  column-gap: 20px;


  @include tablet {
    padding-block: 75px;
  }

  @include mobile {
    padding-block: 150px;
  }

  &__body {
    max-width: 520px;

    @include tablet {
      margin-inline: auto;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__image {
    max-width: 705px;
    width: 60%;
    height: auto;
    margin-right: calc(-1 * (1440px - var(--container-width)) / 2);

    @include desktop {
      width: 50%;
    }

    @include tablet {
      display: none;
    }
  }
}

// ПРИЖАТИЕ ИЗОБРАЖЕНИЯ К ПРАВОМУ КРАЮ

@media (max-width: 1440px) {
  .hero__image {
    margin-right: calc(-1 * (98.8vw - var(--container-width)) / 2);
  }
}

@media (max-width: 1339px) {
  .hero__image {
    margin-right: -25px;
  }
}