//Специальный класс для редактирования ошибок с помощью just-validate

.just-validate-error {
  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &-field {
    background-color: var(--color-bg-error);
    outline-color: var(--color-outline-error);

    &:focus {
      outline-color: var(--color-outline-error);
    }
  }

  &-label {
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-align: start;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;
    color: var(--color-gray80);

    //Иконку крестика решил добавить через ::before, но почему-то на телефоне они не отображаются
    &::before {
      @include square(15px);

      content: "";
      background: url("../../images/icons/error.svg") center/cover no-repeat;
    }
  }
}