.machine {
  position: relative;
  max-height: 690px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: var(--border-radius-large);
    background-color: hsla(0, 0%, 11%, 0.7);
    background-blend-mode: overlay;
    transition-duration: var(--transition-duration);
  }

  @include hover {
    &::before {
      background-color: hsla(0, 0%, 11%, 0.8);
    }
  }

  &:active {
    &::before {
      background-color: hsla(0, 0%, 11%, 0.9);
    }
  }

  &__video {
    width: 100%;
    height: auto;
    min-height: 450px;
    max-height: 690px;
    object-fit: cover;
    border-radius: var(--border-radius-large);
    z-index: -1;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
  }
}