.menu-button {
  @include reset-button;
  @include square(40px);
  @include flex-center;

  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-small);

  &:where(:not(.menu-button--disabled)) {
    cursor: pointer;
  }

  @include hover {
    &:where(:not(.menu-button--disabled)) {
      svg * {
        fill: var(--color-accent);
      }
    }
  }

  &:where(:not(.menu-button--disabled)):active {
    svg * {
      opacity: 0.6;
    }
  }

  &__budge {
    position: relative;

    &::after {
      @include square(18px);
      @include flex-center(true);

      content: attr(data-title);
      position: absolute;
      top: -6px;
      right: -4px;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.01em;
      margin-block: auto;
      color: var(--color-accent-light);
      border-radius: 50%;
      background-color: var(--color-accent-dark);
    }
  }

  &--disabled {
    svg * {
      opacity: 0.3;
    }
  }

  &--transparent {
    @include square(55px);

    border: 1px solid var(--color-accent);
    background-color: transparent;

    @include hover {
      background-color: var(--color-accent-hover);

      svg * {
        fill: var(--color-light);
      }
    }

    &:active {
      svg * {
        opacity: 0.6;
      }
    }
  }
}