.news-card {
  @include flex-center;

  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-medium);
  color: var(--color-accent-dark);

  &:active {
    opacity: 0.8;
  }


  //Эффект приближения только для устройств, ширина экранов которых больше 767px
  @include mobile-above {
    @include hover {
      .news-card__image {

        //!important пришлось указать, так как изображения размещенные через html имели больший приоритет
        background-size: 150% !important;
      }
    }
  }

  @include desktop {
    justify-content: normal;
  }

  @include mobile {
    flex-direction: column;
  }

  &__image {
    height: 300px;
    min-width: 400px;
    width: 100%;
    background-size: 120% !important;
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    transition: background-size var(--transition-duration);


    @include mobile {
      border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    }
  }

  &__body {
    padding: 55px 30px;


    @include tablet {
      min-width: 320px;
      width: 100%;
    }

    @include mobile {
      padding-block: 50px;
    }
  }

  &__info {
    height: 130px;
    width: 420px;
    margin-bottom: 35px;


    @include desktop {
      width: 520px;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      margin-bottom: 15px;
      height: 110px;
    }
  }

  &__title {
    max-width: 360px;
  }

  &__date {
    margin-bottom: 15px;
  }

  &__link {
    @include flex-sb;

    @include hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}