.play-button {
  @include reset-button;
  @include square(115px);
  @include flex-center;

  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;

  @include hover {
    .play-button__icon-play *,
    .play-button__icon-pause * {
      fill: var(--color-accent-dark);
    }
  }

  &:active {
    .play-button__icon-play,
    .play-button__icon-pause {
      opacity: 0.6;
    }
  }

  &__icon-wrapper {
    @include square(50px);
    @include flex-center(true);
  }

  &__icon-play {
    display: block;
  }

  &__icon-pause {
    display: none;
  }
}