.section {
  margin-bottom: var(--section-margin);

  &:last-child {
    margin-bottom: calc(var(--section-margin) / 2);
  }

  &--alt {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
    }
  }

  &--margin-top {
    margin-top: var(--section-margin);
  }

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-right: 110px;
    margin-bottom: var(--section-header-margin-bottom);

    &--mobile-center {
      @include mobile {
        align-items: center;
        text-align: center;
      }
    }

    &--space-between {
      margin-right: 0;

      .section__info {
        text-align: end;

        @include tablet {
          text-align: start;
        }
      }
    }

    &--alt {
      flex-direction: column;
      justify-content: start;
      row-gap: 25px;
      margin-right: 0;
    }

    @include desktop {
      margin-right: 0;
    }

    @include tablet {
      flex-direction: column;
      row-gap: 20px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__info {
    max-width: 520px;
    width: 100%;

    &--alt {
      display: flex;
      column-gap: 10px;
    }
  }

  &__description {
    margin-bottom: 25px;
  }

  &__button {
    @include mobile-s {
      width: 100%;
    }
  }
}