.subscribe-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition:
          opacity var(--transition-duration),
          visibility var(--transition-duration);

  &.open {
    visibility: visible;
    opacity: 1;
    overflow-y: scroll;

    .subscribe-modal__inner {
      transform: translateY(0);
    }
  }

  &__inner {
    width: 400px;
    padding: 100px 40px 80px;
    text-align: center;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-light);
    box-shadow: 0 8px 16px 0 hsla(210, 80%, 17%, 0.12);
    transform: translateY(100%);
    transition: transform var(--transition-duration);
  }

  &__close-button {
    position: absolute;
    top: 30px;
    right: 25px;
  }

  &__text {
    @include flex-center;

    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 270px;
    opacity: 0.8;
  }

  &__form {
    &-inputs {
      margin-bottom: 20px;
    }

    &-input {
      width: 100%;
      border-radius: var(--border-radius-small);
      border: none;
      outline: 1px solid var(--color-gray80);
      height: var(--button-height-medium);
      padding-left: 20px;


      &:focus {
        outline-color: var(--color-accent);
      }

      &::placeholder {
        color: var(--color-gray80);
      }
    }

    &-button {
      width: 100%;
    }
  }
}