.wrapper {
  background-color: var(--color-light);

  &__to-bottom {
    border-radius: 0 0 var(--border-radius-x-large) var(--border-radius-x-large);
  }

  &__to-up {
    border-radius: var(--border-radius-x-large) var(--border-radius-x-large) 0 0;
  }

  &__gray {
    background-color: var(--color-gray100);
    border-radius: var(--border-radius-x-large);
  }
}