@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева тегам списков, у которых есть атрибут class */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/* Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/* Убираем внешние отступы вертикали нужным тегам, у которых есть атрибут class */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Убираем стандартный маркер маркированному списку, у которого есть атрибут class */
:where(ul[class]) {
  list-style: none;
}

/* Обнуляем вертикальные внешние отступы параграфа, объявляем локальную переменную для внешнего отступа вниз, чтобы избежать взаимодействие с более сложным селектором */
p {
  --paragraphMarginBottom: 20px;
  margin-block: 0;
}

/* Внешний отступ вниз для параграфа без атрибута class, который расположен не последним среди своих соседних элементов */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
  height: 100%;
  /* Плавный скролл */
  scroll-behavior: smooth;
}

body {
  /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
  min-height: 100%;
  /* Унифицированный интерлиньяж */
  line-height: 1.5;
}

/* Чиним баг задержки смены цвета при взаимодействии с svg-элементами*/
svg * {
  transition-property: fill, stroke;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #1D1D1D;
  --color-light: #FDFDFD;
  --color-accent: #1976D2;
  --color-accent-dark: #092C4F;
  --color-accent-light: #E0EEFB;
  --color-accent-hover: #13599E;
  --color-gray100: #F0F1F2;
  --color-gray90: #E3E3E3;
  --color-gray80: #C0C0C0;
  --color-gray60: #5C5C5C;
  --color-error: #F93232;
  --color-bg-error: #FFF8F8;
  --color-outline-error: #F5C4C4;
  --font-family-base: "Inter", sans-serif;
  --border: 1px solid var(--color-accent);
  --border-alt: 1px solid var(--color-gray80);
  --border-radius-small: 8px;
  --border-radius-medium: 16px;
  --border-radius-large: 30px;
  --border-radius-x-large: 50px;
  --container-width: 1290px;
  --container-padding-x: 25px;
  --section-margin: 200px;
  --section-header-margin-bottom: 50px;
  --button-height-small: 25px;
  --button-height-medium: 55px;
  --button-height-large: 65px;
  --select-height: 35px;
  --transition-duration: 0.4s;
  --transition-duration-long: 0.8s;
}
@media (max-width: 767px) {
  :root {
    --section-margin: 120px;
  }
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-visible {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-accent-light);
  background-color: var(--color-accent-dark);
}
body.modal-open {
  overflow: hidden;
}

a,
input,
textarea,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2,
.h1, .h2 {
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(50px, 4.4444444444vw, 64px);
  line-height: 60px;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  h1, .h1 {
    line-height: 45px;
  }
}

h2, .h2 {
  font-size: 36px;
  line-height: 35px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

.wrapper {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.wrapper__to-bottom {
  padding-bottom: calc(var(--section-margin) / 2);
  border-radius: 0 0 var(--border-radius-x-large) var(--border-radius-x-large);
}
.wrapper__both {
  padding-block: var(--section-margin) calc(var(--section-margin) / 2);
  border-radius: var(--border-radius-x-large);
}
.wrapper__gray {
  background-color: var(--color-gray100);
  border-radius: var(--border-radius-x-large);
  padding-block: var(--section-margin) calc(var(--section-margin) / 2);
  margin-bottom: var(--section-margin);
}

.text__x-small {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 13px;
}
.text__small {
  font-size: 14px;
  line-height: 15px;
}
.text__small--medium {
  font-weight: 500;
}
.text__small--regular {
  line-height: 20px;
}
.text__primary {
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 25px;
}
.text__primary--medium {
  font-weight: 500;
  line-height: 20;
}
.text__primary--regular {
  line-height: 20;
}
.text__medium {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
}
.text__medium--semi-bold {
  font-weight: 600;
}
.text__large {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 30px;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-color: var(--color-accent);
  color: var(--color-light);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-accent-hover);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-accent-hover);
  }
}
.button:active {
  color: rgba(253, 253, 253, 0.6);
}
.button__small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  height: var(--button-height-small);
  padding-inline: 8px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.01em;
}
.button__medium, .button__large {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.02em;
}
.button__medium {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  height: var(--button-height-medium);
  padding-inline: 30px;
}
.button__medium--transparent {
  background-color: transparent;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
@media (hover: hover) {
  .button__medium--transparent:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button__medium--transparent:active {
    background-color: var(--color-accent-hover);
    color: var(--color-light);
  }
}
.button__medium--transparent:active {
  color: rgba(253, 253, 253, 0.6);
}
.button__large {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-medium);
  height: var(--button-height-large);
  padding-inline: 40px;
}

.menu-button {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 40px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .menu-button:hover:where(:not(.menu-button--disabled)) svg * {
    fill: var(--color-accent);
  }
}
@media (hover: none) {
  .menu-button:active:where(:not(.menu-button--disabled)) svg * {
    fill: var(--color-accent);
  }
}
.menu-button:where(:not(.menu-button--disabled)) {
  cursor: pointer;
}
.menu-button:where(:not(.menu-button--disabled)):active svg * {
  opacity: 0.6;
}
.menu-button--budge {
  position: relative;
}
.menu-button--budge::after {
  width: 18px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: attr(data-count);
  position: absolute;
  top: -6px;
  right: -4px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.01em;
  margin-block: auto;
  color: var(--color-accent-light);
  border-radius: 50%;
  background-color: var(--color-accent-dark);
}
.menu-button--disabled svg * {
  opacity: 0.3;
}
.menu-button--transparent {
  width: 55px;
  aspect-ratio: 1;
  border: 1px solid var(--color-accent);
  background-color: transparent;
}
@media (hover: hover) {
  .menu-button--transparent:hover {
    background-color: var(--color-accent-hover);
  }
  .menu-button--transparent:hover svg * {
    fill: var(--color-light);
  }
}
@media (hover: none) {
  .menu-button--transparent:active {
    background-color: var(--color-accent-hover);
  }
  .menu-button--transparent:active svg * {
    fill: var(--color-light);
  }
}
.menu-button--transparent:active svg * {
  opacity: 0.6;
}
@media (max-width: 480px) {
  .menu-button--wide-mobile {
    width: 50%;
    height: 55px;
  }
}

.back-to-top-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1;
  position: fixed;
  bottom: -80px;
  right: 20px;
  background-color: var(--color-light);
  border-radius: 50%;
  border: 1px solid var(--color-gray80);
  cursor: pointer;
  z-index: 1000;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .back-to-top-button:hover {
    background-color: var(--color-gray90);
  }
}
@media (hover: none) {
  .back-to-top-button:active {
    background-color: var(--color-gray90);
  }
}
.back-to-top-button.active {
  bottom: 20px;
}
.back-to-top-button.disable {
  bottom: -80px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  max-width: 338px;
}
.logo__link {
  min-width: 178px;
}
@media (hover: hover) {
  .logo__link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .logo__link:active {
    opacity: 0.6;
  }
}
.logo__link:active {
  opacity: 0.3;
}
.logo__description {
  opacity: 0.7;
}
@media (max-width: 1024px) {
  .logo__description {
    display: none;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__button-close {
  border: none;
  padding: 0;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  .modal__button-close:hover svg * {
    fill: var(--color-dark);
  }
}
@media (hover: none) {
  .modal__button-close:active svg * {
    fill: var(--color-dark);
  }
}
.modal__button-close:active {
  opacity: 0.6;
}

.menu-modal {
  display: flex;
  justify-content: start;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.menu-modal.open {
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}
.menu-modal.open .menu-modal__inner {
  transform: translateX(0);
}
.menu-modal__inner {
  background-color: var(--color-light);
  height: 100%;
  width: 40%;
  padding: 100px 25px 20px;
  transform: translateX(-100%);
  transition: transform var(--transition-duration);
}
.menu-modal__close-button {
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  top: 30px;
  left: 30px;
}
.menu-modal__navigation-list {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 20px;
}
.menu-modal__navigation-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
  letter-spacing: -0.02em;
  position: relative;
}
@media (hover: hover) {
  .menu-modal__navigation-link:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 100%;
    height: 3px;
    background-color: var(--color-gray80);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .menu-modal__navigation-link:active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 100%;
    height: 3px;
    background-color: var(--color-gray80);
    transition-duration: var(--transition-duration);
  }
}
.menu-modal__navigation-link:active::after {
  background-color: var(--color-accent);
}

.cart-modal {
  display: flex;
  justify-content: end;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.cart-modal.open {
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}
.cart-modal.open .cart-modal__inner {
  transform: translateX(0);
}
.cart-modal__inner {
  background-color: var(--color-light);
  height: 100%;
  width: 680px;
  padding: 150px 60px;
  transform: translateX(100%);
  transition: transform var(--transition-duration);
}
@media (max-width: 767px) {
  .cart-modal__inner {
    width: 100%;
  }
}
.cart-modal__close-button {
  width: 35px;
  aspect-ratio: 1;
  position: absolute;
  top: 40px;
  right: 40px;
}
.cart-modal__header {
  margin-bottom: 30px;
}
.cart-modal__title {
  font-size: 48px;
  max-width: 350px;
  margin-bottom: 25px;
  line-height: 50px;
}
.cart-modal__description {
  opacity: 0.8;
  max-width: 450px;
}
.cart-modal__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
}

.plan-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.plan-modal.open {
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}
.plan-modal.open .plan-modal__inner {
  transform: translateY(0);
}
.plan-modal__inner {
  width: 400px;
  padding: 100px 40px 80px;
  text-align: center;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-light);
  box-shadow: 0 8px 16px 0 hsla(210, 80%, 17%, 0.12);
  transform: translateY(100%);
  transition: transform var(--transition-duration);
}
.plan-modal__close-button {
  position: absolute;
  top: 30px;
  right: 25px;
}
.plan-modal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 30px;
}
.plan-modal__description {
  max-width: 270px;
  opacity: 0.8;
}
.plan-modal__form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.plan-modal__form-input {
  border-radius: var(--border-radius-small);
  border: none;
  outline: 1px solid var(--color-gray80);
  height: var(--button-height-medium);
  padding-left: 20px;
  width: 100%;
}
.plan-modal__form-input:focus {
  outline-color: var(--color-accent);
}
.plan-modal__form-input::placeholder {
  color: var(--color-gray80);
}
.plan-modal__form-button {
  width: 100%;
}

.subscribe-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.subscribe-modal.open {
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}
.subscribe-modal.open .subscribe-modal__inner {
  transform: translateY(0);
}
.subscribe-modal__inner {
  width: 400px;
  padding: 100px 40px 80px;
  text-align: center;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-light);
  box-shadow: 0 8px 16px 0 hsla(210, 80%, 17%, 0.12);
  transform: translateY(100%);
  transition: transform var(--transition-duration);
}
.subscribe-modal__close-button {
  position: absolute;
  top: 30px;
  right: 25px;
}
.subscribe-modal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 30px;
}
.subscribe-modal__description {
  max-width: 270px;
  opacity: 0.8;
}
.subscribe-modal__form-inputs {
  margin-bottom: 20px;
}
.subscribe-modal__form-input {
  width: 100%;
  border-radius: var(--border-radius-small);
  border: none;
  outline: 1px solid var(--color-gray80);
  height: var(--button-height-medium);
  padding-left: 20px;
}
.subscribe-modal__form-input:focus {
  outline-color: var(--color-accent);
}
.subscribe-modal__form-input::placeholder {
  color: var(--color-gray80);
}
.subscribe-modal__form-button {
  width: 100%;
}

.just-validate-error-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.just-validate-error-field {
  background-color: var(--color-bg-error);
  outline-color: var(--color-outline-error);
}
.just-validate-error-field:focus {
  outline-color: var(--color-outline-error);
}
.just-validate-error-label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-align: start;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: var(--color-gray80);
}
.just-validate-error-label::before {
  width: 15px;
  aspect-ratio: 1;
  content: "";
  background: url("../../images/icons/error.svg") center/cover no-repeat;
}

.play-button {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 115px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
}
@media (hover: hover) {
  .play-button:hover .play-button__icon-play *,
  .play-button:hover .play-button__icon-pause * {
    fill: var(--color-accent-dark);
  }
}
@media (hover: none) {
  .play-button:active .play-button__icon-play *,
  .play-button:active .play-button__icon-pause * {
    fill: var(--color-accent-dark);
  }
}
.play-button:active .play-button__icon-play,
.play-button:active .play-button__icon-pause {
  opacity: 0.6;
}
.play-button__icon-wrapper {
  width: 50px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.play-button__icon-play {
  display: block;
}
.play-button__icon-pause {
  display: none;
}

.submenu {
  position: absolute;
  top: 100%;
  left: -30px;
  padding: 30px 20px;
  box-shadow: 0px 8px 16px 0px hsla(210, 80%, 17%, 0.12);
  background-color: var(--color-light);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  z-index: 8;
  display: none;
}
.submenu.open {
  display: block;
}
.submenu__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.submenu__link {
  padding: 10px;
  display: flex;
  align-items: start;
  column-gap: 15px;
  border-radius: var(--border-radius-small);
}
.submenu__link.disabled {
  opacity: 0.3;
}
.submenu__link:not(:where(.disabled)) {
  cursor: pointer;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .submenu__link:not(:where(.disabled)):hover {
    background-color: var(--color-gray100);
  }
}
@media (hover: none) {
  .submenu__link:not(:where(.disabled)):active {
    background-color: var(--color-gray100);
  }
}
.submenu__link:not(:where(.disabled)):active {
  opacity: 0.3;
}
.submenu__link-icon-wrapper {
  width: 50px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray100);
  border-radius: var(--border-radius-small);
}
.submenu__link-body {
  padding-block: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 255px;
}
.submenu__link-description {
  opacity: 0.8;
}

.section {
  margin-bottom: var(--section-margin);
}
.section:last-child {
  margin-bottom: calc(var(--section-margin) / 2);
}
.section--alt {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .section--alt {
    flex-direction: column;
  }
}
.section--margin-top {
  margin-top: var(--section-margin);
}
.section__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-right: 110px;
  margin-bottom: var(--section-header-margin-bottom);
}
@media (max-width: 767px) {
  .section__header--mobile-center {
    align-items: center;
    text-align: center;
  }
}
.section__header--space-between {
  margin-right: 0;
}
.section__header--space-between .section__info {
  text-align: end;
}
@media (max-width: 1024px) {
  .section__header--space-between .section__info {
    text-align: start;
  }
}
.section__header--alt {
  flex-direction: column;
  justify-content: start;
  row-gap: 25px;
  margin-right: 0;
}
@media (max-width: 1280px) {
  .section__header {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .section__header {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .section__header {
    width: 100%;
  }
}
.section__info {
  max-width: 520px;
  width: 100%;
}
.section__info--alt {
  display: flex;
  column-gap: 10px;
}
.section__description {
  margin-bottom: 25px;
}
@media (max-width: 480px) {
  .section__button {
    width: 50%;
  }
}

.header-top {
  padding-block: 15px;
}
.header-top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
.header-top__link {
  color: var(--color-light);
  opacity: 0.8;
}
.header-top__link:nth-child(2) {
  margin-left: auto;
}
@media (hover: hover) {
  .header-top__link:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .header-top__link:active {
    opacity: 1;
  }
}
.header-top__link:active {
  opacity: 0.6;
}

.header-bottom {
  height: 75px;
  background-color: var(--color-light);
  color: var(--color-dark);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-bottom::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray100);
}
@media (max-width: 767px) {
  .header-bottom {
    height: 80px;
  }
}
.header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  column-gap: 50px;
}
@media (max-width: 1024px) {
  .header-bottom__inner {
    column-gap: 30px;
  }
}
.header-bottom__menu {
  margin-left: auto;
}
.header-bottom__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 1024px) {
  .header-bottom__menu-list {
    column-gap: 20px;
  }
}
.header-bottom__menu-item {
  position: relative;
}
.header-bottom__menu-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  position: relative;
  cursor: pointer;
}
.header-bottom__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-gray80);
  display: none;
  z-index: 9;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header-bottom__menu-link:hover::after {
    display: block;
  }
}
@media (hover: none) {
  .header-bottom__menu-link:active::after {
    display: block;
  }
}
.header-bottom__menu-link:active::after {
  background-color: var(--color-accent);
}
.header-bottom__menu-link.active {
  cursor: default;
}
.header-bottom__menu-link.active::after {
  background-color: var(--color-accent);
  display: block;
}
@media (max-width: 1024px) {
  .header-bottom__menu-link {
    font-size: 14px;
  }
}
.header-bottom__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .header-bottom__buttons {
    column-gap: 10px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .hero {
    padding-block: 75px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-block: 150px;
  }
}
.hero__body {
  max-width: 520px;
}
@media (max-width: 1024px) {
  .hero__body {
    margin-inline: auto;
    text-align: center;
  }
}
.hero__title {
  margin-bottom: 25px;
}
.hero__description {
  margin-bottom: 30px;
}
.hero__image {
  max-width: 705px;
  width: 60%;
  height: auto;
  margin-right: calc(-1 * (1440px - var(--container-width)) / 2);
}
@media (max-width: 1280px) {
  .hero__image {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .hero__image {
    display: none;
  }
}

@media (max-width: 1440px) {
  .hero__image {
    margin-right: calc(-1 * (98.8vw - var(--container-width)) / 2);
  }
}
@media (max-width: 1339px) {
  .hero__image {
    margin-right: -25px;
  }
}
.about__image {
  width: 100%;
  height: auto;
  min-height: 371px;
  border-radius: var(--border-radius-large);
  object-fit: cover;
}

.facts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 767px) {
  .facts__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

.facts-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 65px 50px;
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-medium);
  color: var(--color-accent-dark);
}
@media (max-width: 1280px) {
  .facts-card {
    padding-inline: 30px;
  }
}
@media (max-width: 1024px) {
  .facts-card {
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    padding-block: 35px;
  }
}
@media (max-width: 767px) {
  .facts-card {
    padding-block: 50px;
  }
}
.facts-card__description {
  max-width: 200px;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .facts-card__description {
    max-width: 100%;
  }
}

.steps__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.step-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  padding-right: 150px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
}
@media (max-width: 1024px) {
  .step-card {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .step-card {
    flex-direction: column;
    align-items: start;
    padding-right: 0;
  }
}
.step-card__image {
  max-width: 630px;
  width: 56%;
  height: 540px;
  object-fit: cover;
  border-radius: var(--border-radius-large);
}
@media (max-width: 1280px) {
  .step-card__image {
    height: 400px;
  }
}
@media (max-width: 1024px) {
  .step-card__image {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .step-card__image {
    max-width: 100%;
    width: 100%;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
.step-card__body {
  max-width: 410px;
}
@media (max-width: 767px) {
  .step-card__body {
    padding: 50px 30px;
  }
}
.step-card__number {
  width: 35px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-accent-light);
  margin-bottom: 20px;
}
.step-card__title {
  margin-bottom: 10px;
}

.benefits__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .benefits__list {
    column-gap: 10px;
  }
}
@media (max-width: 767px) {
  .benefits__list {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 767px) {
  .benefits__item {
    width: 100%;
  }
}
.benefits__item:not(:first-child) .benefits__card {
  margin-left: -20px;
}
@media (max-width: 1024px) {
  .benefits__item:not(:first-child) .benefits__card {
    margin-left: 0;
  }
}
.benefits__item:nth-child(1) {
  z-index: 2;
}
.benefits__item:nth-child(1) .benefits__card {
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
}
.benefits__item:nth-child(2) {
  z-index: 1;
}
.benefits__item:nth-child(2) .benefits__card {
  background-color: var(--color-accent-light);
  color: var(--color-accent-dark);
}
.benefits__item:nth-child(3) .benefits__card {
  background-color: var(--color-gray100);
  color: var(--color-dark);
}

.benefit-card {
  padding: 50px 40px 0;
  border-radius: var(--border-radius-medium);
  height: 290px;
}
@media (max-width: 1024px) {
  .benefit-card {
    padding-inline: 20px;
    height: 340px;
  }
}
@media (max-width: 767px) {
  .benefit-card {
    height: 265px;
  }
}
.benefit-card__icon {
  width: 50px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.benefit-card__body {
  max-width: 363px;
}
.benefit-card__title {
  margin-bottom: 10px;
}
.benefit-card__description {
  opacity: 0.8;
  height: 100%;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
}
@media (max-width: 1024px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .products__list {
    gap: 30px 15px;
  }
}

.product-card {
  position: relative;
}
@media (min-width: 768px) and (hover: hover) {
  .product-card:hover {
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(9, 44, 79, 0.1215686275);
  }
  .product-card:hover .product-card__bg {
    opacity: 1;
  }
  .product-card:hover .product-card__image {
    opacity: 0;
  }
  .product-card:hover .product-card__hover {
    box-shadow: 0px 8px 16px 0px rgba(9, 44, 79, 0.1215686275);
    opacity: 1;
    display: block;
  }
}
@media (min-width: 768px) and (hover: none) {
  .product-card:active {
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(9, 44, 79, 0.1215686275);
  }
  .product-card:active .product-card__bg {
    opacity: 1;
  }
  .product-card:active .product-card__image {
    opacity: 0;
  }
  .product-card:active .product-card__hover {
    box-shadow: 0px 8px 16px 0px rgba(9, 44, 79, 0.1215686275);
    opacity: 1;
    display: block;
  }
}
.product-card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: var(--color-accent-light);
  border-radius: var(--border-radius-medium);
  position: relative;
}
@media (max-width: 767px) {
  .product-card__wrapper {
    padding: 37.5px 16.25px;
  }
}
.product-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  transition: opacity var(--transition-duration);
}
.product-card__image {
  opacity: 1;
  transition: opacity var(--transition-duration);
}
@media (max-width: 767px) {
  .product-card__image {
    height: 175px;
    width: 175px;
  }
}
.product-card__button {
  position: absolute;
  top: 20px;
  left: 20px;
}
.product-card__body {
  padding: 20px 15px 0;
}
@media (max-width: 767px) {
  .product-card__body {
    padding-inline: 10px;
  }
}
.product-card__inner {
  max-width: 270px;
}
.product-card__title {
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .product-card__title {
    font-size: 14px;
  }
}
.product-card__price {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(--color-dark);
}
.product-card__ruble {
  color: var(--color-gray60);
}
.product-card__hover {
  position: absolute;
  background-color: var(--color-light);
  padding: 20px 15px 25px;
  width: 100%;
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  opacity: 0;
  transition: opacity var(--transition-duration);
  display: none;
}
.product-card__size {
  --columnGap: 37px;
  margin-bottom: 40px;
}
.product-card__size-list {
  display: flex;
  align-items: center;
  column-gap: var(--columnGap);
}
.product-card__size-item:not(:last-child) .product-card__size-title::after {
  content: "x";
  position: absolute;
  bottom: 0;
  right: calc(-1 * var(--columnGap) / 2);
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: var(--color-gray60);
}
.product-card__size-title {
  color: var(--color-gray60);
  display: flex;
  flex-direction: column-reverse;
  row-gap: 5px;
  position: relative;
}
.product-card__size-title::before {
  content: attr(data-value) " см";
  font-size: 14px;
  line-height: 15px;
  color: var(--color-dark);
}
.product-card__buy-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.product-card__buy-button:first-child {
  flex-grow: 1;
  font-weight: 500;
}
.product-card__buy-button:last-child svg * {
  fill: var(--color-accent);
}
@media (hover: hover) {
  .product-card__buy-button:last-child:hover svg * {
    fill: var(--color-light);
  }
}
@media (hover: none) {
  .product-card__buy-button:last-child:active svg * {
    fill: var(--color-light);
  }
}

.machine {
  position: relative;
  max-height: 690px;
}
.machine::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 450px;
  height: 100%;
  max-height: 690px;
  border-radius: var(--border-radius-large);
  background-color: hsla(0, 0%, 11%, 0.7);
  background-blend-mode: overlay;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .machine:hover::before {
    background-color: hsla(0, 0%, 11%, 0.8);
  }
}
@media (hover: none) {
  .machine:active::before {
    background-color: hsla(0, 0%, 11%, 0.8);
  }
}
.machine:active::before {
  background-color: hsla(0, 0%, 11%, 0.9);
}
.machine__video {
  width: 100%;
  height: auto;
  min-height: 450px;
  max-height: 690px;
  object-fit: cover;
  border-radius: var(--border-radius-large);
  z-index: -1;
}
.machine__button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
}

.reviews {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  gap: 30px;
  grid-template-areas: "card-1 video-1 video-1 video-1" "video-2 card-2 card-2 card-3" "card-4 card-4 video-3 video-3";
}
@media (max-width: 1280px) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-template-areas: "card-1 video-1" "video-2 card-2" "card-3 video-3" "card-4 card-4";
  }
}
@media (max-width: 767px) {
  .reviews {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
.reviews__card {
  height: 100%;
  min-width: 400px;
}
@media (max-width: 767px) {
  .reviews__card {
    scroll-snap-align: start;
  }
}
.reviews__card:nth-child(1) {
  grid-area: card-1;
}
.reviews__card:nth-child(2) {
  grid-area: video-1;
}
.reviews__card:nth-child(3) {
  grid-area: video-2;
}
.reviews__card:nth-child(4) {
  grid-area: card-2;
}
.reviews__card:nth-child(5) {
  grid-area: card-3;
}
.reviews__card:nth-child(6) {
  grid-area: card-4;
}
.reviews__card:nth-child(7) {
  grid-area: video-3;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-medium);
  padding: 55px 40px;
  height: 380px;
  color: var(--color-accent-dark);
}
.review-card__author {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.review-card__logo-wrapper {
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-light);
}
.review-card__name, .review-card__city {
  line-height: 20px;
}
.review-card__name {
  font-weight: 500;
}
.review-card__city {
  opacity: 0.8;
}

.review-video {
  position: relative;
  height: 380px;
}
@media (hover: hover) {
  .review-video:hover svg * {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .review-video:active svg * {
    opacity: 0.6;
  }
}
.review-video:active svg * {
  opacity: 0.3;
}
.review-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: var(--border-radius-medium);
  background-color: hsla(0, 0%, 11%, 0.7);
  background-blend-mode: overlay;
  transition-duration: var(--transition-duration);
}
.review-video__content {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-medium);
}
.review-video__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  aspect-ratio: 1;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
.review-video__button svg * {
  fill: var(--color-accent-light);
}

.news__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .news__list {
    flex-direction: row;
    column-gap: 15px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
@media (max-width: 767px) {
  .news__item {
    scroll-snap-align: start;
  }
}

.news-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-medium);
  color: var(--color-accent-dark);
}
.news-card:active {
  opacity: 0.8;
}
@media (min-width: 768px) and (hover: hover) {
  .news-card:hover .news-card__image {
    background-size: 150% !important;
  }
}
@media (min-width: 768px) and (hover: none) {
  .news-card:active .news-card__image {
    background-size: 150% !important;
  }
}
@media (max-width: 1280px) {
  .news-card {
    justify-content: normal;
  }
}
@media (max-width: 767px) {
  .news-card {
    flex-direction: column;
  }
}
.news-card__image {
  height: 300px;
  min-width: 400px;
  width: 100%;
  background-size: 120% !important;
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
  transition: background-size var(--transition-duration);
}
@media (max-width: 767px) {
  .news-card__image {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }
}
.news-card__body {
  padding: 55px 30px;
}
@media (max-width: 1024px) {
  .news-card__body {
    min-width: 320px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .news-card__body {
    padding-block: 50px;
  }
}
.news-card__info {
  height: 130px;
  width: 420px;
  margin-bottom: 35px;
}
@media (max-width: 1280px) {
  .news-card__info {
    width: 520px;
  }
}
@media (max-width: 1024px) {
  .news-card__info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .news-card__info {
    margin-bottom: 15px;
    height: 110px;
  }
}
.news-card__title {
  max-width: 360px;
}
.news-card__date {
  margin-bottom: 15px;
}
.news-card__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (hover: hover) {
  .news-card__link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .news-card__link:active {
    opacity: 0.6;
  }
}
.news-card__link:active {
  opacity: 0.3;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 25px;
  height: 540px;
  color: var(--color-accent-dark);
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius-large);
}
@media (max-width: 767px) {
  .cta {
    height: 455px;
    row-gap: 20px;
  }
}
.cta__title {
  font-size: clamp(35px, 3.3333333333vw, 48px);
}
@media (max-width: 767px) {
  .cta__title {
    line-height: 35px;
  }
}

.footer {
  padding: calc(var(--section-margin) / 2) 75px 30px;
}
@media (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: calc(var(--section-margin) / 2) 25px 50px;
  }
}
.footer__content, .footer__links {
  display: flex;
  align-items: start;
}
.footer__content {
  justify-content: space-between;
  margin-bottom: 125px;
}
@media (max-width: 1024px) {
  .footer__content {
    display: contents;
  }
}
.footer__links {
  column-gap: 30px;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__title {
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 15px;
}
.footer__menu, .footer__contacts {
  width: 300px;
}
@media (max-width: 1280px) {
  .footer__menu, .footer__contacts {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .footer__menu, .footer__contacts {
    width: 300px;
  }
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__menu-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}
@media (hover: hover) {
  .footer__menu-link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .footer__menu-link:active {
    opacity: 0.6;
  }
}
.footer__menu-link:active {
  opacity: 0.3;
}
.footer__contacts-body {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .footer__contacts-body {
    margin-bottom: 20px;
  }
}
.footer__contacts-body p {
  font-style: normal;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer__contacts-body p {
    margin-bottom: 20px;
  }
}
.footer__contacts-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-style: normal;
}
@media (max-width: 767px) {
  .footer__contacts-links {
    row-gap: 5px;
  }
}
.footer__contacts-hover {
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
@media (hover: hover) {
  .footer__contacts-hover:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .footer__contacts-hover:active {
    opacity: 0.6;
  }
}
.footer__contacts-hover:active {
  opacity: 0.3;
}
.footer__copyright {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__copyright {
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
  }
}
.footer__copyright-text {
  opacity: 0.6;
}
.footer__copyright-links {
  display: flex;
  column-gap: 90px;
  margin-right: 64px;
}
@media (max-width: 1280px) {
  .footer__copyright-links {
    margin-right: 14px;
    column-gap: 40px;
  }
}
@media (max-width: 1024px) {
  .footer__copyright-links {
    column-gap: 90px;
  }
}
@media (max-width: 767px) {
  .footer__copyright-links {
    flex-direction: column;
    row-gap: 5px;
  }
}
.footer__copyright-countries {
  display: flex;
  align-items: center;
  max-height: 25px;
  column-gap: 15px;
}
.footer__copyright-hover {
  opacity: 0.6;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
@media (hover: hover) {
  .footer__copyright-hover:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .footer__copyright-hover:active {
    opacity: 1;
  }
}

.soc1als__list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.soc1als__item {
  height: 20px;
}
.soc1als__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .soc1als__link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .soc1als__link:active {
    opacity: 0.6;
  }
}
.soc1als__link:active {
  opacity: 0.3;
}

.breadcrumbs {
  padding-block: 30px;
  margin-bottom: 30px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.breadcrumbs__item:last-child .breadcrumbs__divider {
  display: none;
}
@media (hover: hover) {
  .breadcrumbs__item:not(:last-child) .breadcrumbs__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
    color: var(--color-accent);
  }
}
.breadcrumbs__link {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.breadcrumbs__divider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  aspect-ratio: 1;
}

.equipment__title {
  display: flex;
  align-items: start;
  column-gap: 15px;
  margin-bottom: 50px;
}
.equipment__title::after {
  content: "/ " attr(data-count) " шт.";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01px;
  color: var(--color-gray60);
}
.equipment__category {
  margin-bottom: 30px;
}
.equipment__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.equipment__form-filters {
  display: flex;
  column-gap: 10px;
}
.equipment__form-button {
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: var(--color-gray100);
  height: var(--select-height);
  padding-inline: 15px;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .equipment__form-button:hover {
    background-color: var(--color-gray90);
  }
}
@media (hover: none) {
  .equipment__form-button:active {
    background-color: var(--color-gray90);
  }
}
.equipment__form-button:active {
  background-color: var(--color-gray60);
  color: var(--color-light);
}
.equipment__form-button:active svg * {
  fill: var(--color-light);
}

.choices {
  border: 1px solid var(--color-gray80);
  border-radius: var(--border-radius-small);
  margin-bottom: 0;
  height: var(--select-height);
}
@media (hover: hover) {
  .choices:hover {
    border-color: var(--color-dark);
  }
}
@media (hover: none) {
  .choices:active {
    border-color: var(--color-dark);
  }
}
.choices__inner {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
}
.choices__list {
  border: none;
}
.choices__list--dropdown {
  width: 280px;
  box-shadow: 0 8px 16px 0 hsla(210, 80%, 17%, 0.12);
  border-radius: var(--border-radius-small);
  padding: 20px 15px;
}
.choices__list--dropdown.is-active {
  border: none;
}
.choices__list--single {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.choices__item {
  border: none;
  padding: 20px 15px;
  font-size: 14px;
  line-height: 15px;
}
.choices__item--selectable {
  padding: 0;
}
.choices.is-flipped {
  border: 1px solid var(--color-accent);
}
.choices[data-type*=select-one] {
  display: flex;
}
.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}
.choices[data-type*=select-one]:after, .choices[data-type*=select-one].is-open:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 8.5px;
  height: 5px;
  background: url("../../images/icons/arrow-down.svg") center/cover no-repeat;
  border: 1px solid red;
  position: relative;
}
.choices[data-type*=select-one].is-open:after {
  rotate: 180deg;
}

/*# sourceMappingURL=style.css.map */
